NEXT_PUBLIC_SITE_URL=https://roofvue.co.uk
NEXT_PUBLIC_BUSINESS_NAME=RoofVue
NEXT_PUBLIC_PHONE=+44-XXXX-XXXXXX
NEXT_PUBLIC_EMAIL=info@roofvue.co.uk
NEXT_PUBLIC_ADDRESS_LOCALITY=Maidstone
NEXT_PUBLIC_ADDRESS_REGION=Kent
NEXT_PUBLIC_POSTCODE=ME14 1XX
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
